<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Erreur {{ status_code }} : Accès refusé</title>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>

        <div class="container">
            <div class="row">

                <div class="jumbotron">
                    <h1>Erreur {{ status_code }}</h1>
                    <p>Accès refusé !</p>
                    <p><a class="btn btn-primary btn-lg" href="{{ path('HIACoreIndex') }}" role="button">Retour à l'accueil</a></p>
                </div>

            </div>
        </div>

    </body>
</html>
