{% extends 'HIACoreBundle::layout.html.twig' %}
{% form_theme form 'HIACoreBundle::bootstrap_3_horizontal_layout.html.twig' %}

{% block body %}
    <div class="col-lg-12">
        <div class="page-header">
            <h1 class="text-success">Information du compte</h1>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Vos groupes</h3>
            </div>
            <div class="panel-body">
                {% for group in user.groups %}
                    <span class="badge">{{ group.name }}</span>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="col-lg-offset-2 col-lg-8">
        {{ form(form) }}
    </div>
{% endblock body %}
