{% extends 'HIACoreBundle::layout.html.twig' %}

{% set offset, limit = 0, 10 %}

{% block body %}
    <div class="col-lg-12">
        <div class="page-header">
            <h1 class="text-success">Liste des soumissions traitées</h1>
        </div>
    </div>

    <div class="col-lg-6">
        {# Liste des soumissions que VOUS avez traitées #}
        {{ render(controller("HIAFormBundle:Block:readOther", {'offset': offset, 'limit': limit})) }}
    </div>

    <div class="col-lg-6">
        {# Liste des soumissions par vous qui sont traitées #}
        {{ render(controller("HIAFormBundle:Block:readUser", {'offset': offset, 'limit': limit})) }}
    </div>

{% endblock body %}
{# TODO @Supprimer #}